body{
    background-image: url("../images/imageBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.heading{
    text-align: center;
    color: white;
}

.datawide{
    text-align: center;
}

.data0{
    width: 60%;
}

.data1{
    width: 28.1%;
}

.data2{
    width: 34%;
}

.currentTime{
    padding-bottom: 10px;
    font-size: 1.1rem;
}

.refeshData{
    padding-top: 10px;
    font-size: 1rem;
    color: white;
    text-align: center;
}